body {
    background-color: #191716;
}

h1, h2, h3, h4, h5, p, label {
    color: white;
}

.topBar {
    background-color: #1B5299;
}

form {
    padding: 1%;
}

.submit {
    background-color: #1B5299;
    border-color: #779CAB;
}

.reset {
    background-color: #BE7C4D;
    border-color: #779CAB;
}